
.charting_hist{
  padding: 5px;
  margin-top: 0px;
  max-width: 450px;
  height: inherit;
  min-width: 400px;
    padding: 5px;
    display: inline-flex;
    overflow: none;
    border: wheat dashed 2px;
}

.percent {
  overflow:scroll;
    overflow-x:hidden;
  padding: 5px;
  margin-right: 10px;
  border: solid wheat 1px;
  right: 0;
  top: 6.5%;
  height: 900px;
  z-index: 9;
  float: right;
  display: inline-block;
  position: absolute;
  margin-left: 65%;
}

.percent td {
  width: 75px;
}


@keyframes ldio-tbsvbued4f {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-tbsvbued4f div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-tbsvbued4f linear 1s infinite;
  background: wheat;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-tbsvbued4f div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: wheat;
}.ldio-tbsvbued4f div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: wheat;
}.ldio-tbsvbued4f div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: wheat;
}.ldio-tbsvbued4f div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: wheat;
}.ldio-tbsvbued4f div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: wheat;
}.ldio-tbsvbued4f div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: wheat;
}.ldio-tbsvbued4f div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: wheat;
}.ldio-tbsvbued4f div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: wheat;
}.ldio-tbsvbued4f div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: wheat;
}.ldio-tbsvbued4f div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: wheat;
}.ldio-tbsvbued4f div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: wheat;
}.ldio-tbsvbued4f div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: wheat;
}
.loadingio-spinner-spinner-w7gjtov5wck {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgb(65, 61, 61);
}
.ldio-tbsvbued4f {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-tbsvbued4f div { box-sizing: content-box; }

.this {
  padding: 10px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
  margin: 0 auto;
}

.this td, th {
  border-left:solid wheat 1px;
  border-top:solid wheat 1px;
}

.this th {
  background-color: rosybrown;
  border-top: none;
}

.this td:first-child, th:first-child {
   border-left: none;
}

.this tr:nth-child(odd) {background: rgb(78, 73, 73);}

.this2 {
  padding: 10px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
}

.this2 td, th {
  border-left:solid wheat 1px;
  border-top:solid wheat 1px;
}

.this2 th {
  background-color: rosybrown;
  border-top: none;
}

.this2 td:first-child, th:first-child {
   border-left: none;
}
.this2 tr:nth-child(odd) {background: rgb(78, 73, 73);}

.this3 {
  padding: 10px;
  border-collapse:separate;
  border:solid rgb(0, 119, 255) 1px;
  border-radius:10px;
  -moz-border-radius:6px;
  margin: 0 auto;
}

.this3 td, th {
  border-left:solid wheat 1px;
  border-top:solid wheat 1px;
}

.this3 th {
  background-color: rosybrown;
  border-top: none;
}

.this3 td:first-child, th:first-child {
   border-left: none;
}
.this3 tr:nth-child(odd) {background: rgb(78, 73, 73);}

#closetrade {
  padding:14px;
  color:red;
}
#closetrade:hover {
  cursor: pointer;
  padding:14px;
  color:wheat;

}
@media only screen and (max-width: 900px){
  .mobile-view {
    display: none;
  }
  .chart_inside{
    float: left;
    width:100%
  }
  .charting_months {
    padding: 5px;
    margin-top: 0px;
    width: 100%;
    height: inherit;
    display: inline-block;
    min-width: 500px;
  }
  .charting_monthly{
    padding: 5px;
    margin-top: 0px;
    width: 100%;
    height: inherit;
    display: inline-block;

  }
  .charting_monthly_last{
    border: wheat solid 0px;
    width: 100%;
  }
  .charting_front{
    padding: 5px;
    max-width: 300px;
    margin-top: 0px;
    height: inherit;
    display: inline-block;
  }

  .charting_next{
    padding: 5px;
    max-width: 300px;
    margin-top: 0px;
    height: inherit;
    display: inline-block;
  }
  .login.one {
    display: inline-flex;
  overflow: auto;
  }

  .login.one h2 {
  text-align: left;
  }
  .login.two {
    display: inline-flex;
  overflow: auto;
  }

  .login.two h2 {
  text-align: left;
  }
}
@media only screen and (min-width: 900px){
  .mobile-view-off {
    display: none;
  }
  .chart_inside{
    float: left;
    width:100%
  }
  .charting_months {
    padding: 5px;
    margin-top: 0px;
    width: 100%;
    height: inherit;
    display: inline-block;
    min-width: 500px;
  }
  .charting_monthly{
    padding: 5px;
    margin-top: 0px;
    width: 70%;
    height: inherit;
    display: inline-block;

  }
  .charting_monthly_last{
    float: right;
    width:30%;

  }
  .charting_front{
    padding: 5px;
    margin-top: 0px;
    height: inherit;
    display: inline-block;
  }

  .charting_next{
    padding: 5px;
    margin-top: 0px;
    height: inherit;
    display: inline-block;
  }
  .login {
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
  }

  .login h2 {
  text-align: left;
  }

  .login.one {
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
  }

  .login.one h2 {
  text-align: left;
  }
  .login.two {
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
  }

  .login.two h2 {
  text-align: left;
  }
}
.accordion {
  background-color: rgb(59, 56, 56);
  color: wheat;
  cursor: pointer;
  padding: 15px;
  width: 95%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: rgb(105, 105, 105);
}

.accordion:after {
  content: '\002B';
  color: wheat;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.panel {
  padding: 0 1px;
  width: 100%;
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
}
.heads {
  padding: 5px;
  width: 95%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  color: wheat;
}
.accgroups{
  float: right;
  position:fixed;
  margin-right: 10px;
  right: 10px;
  top: 5%;
  z-index: 10;
  background-color: rgb(78, 73, 73)
}
.accgroups_tbl {
  margin: 0 auto;
}
.inputs {
  width:90px;
  resize: vertical;
  padding:5px;
  border-radius:5px;
  border:1px solid black;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height: 28px;
}
