<div class="container">

  <div class="accgroups">
    <table>
     <tr><button mat-button (click)="onClickAdd()">
         <b style="font-size: 10mm; color: white; "  matTooltip="Open trade box"  *ngIf="addtext.indexOf('-')==-1">{{addtext}}</b>
         <b style="font-size: 10mm; color: black; "  matTooltip="Close trade box"  *ngIf="addtext.indexOf('+')==-1">
          <mat-icon style="font-size: 20px; cursor: pointer; color: red; border: none;" class="material-icons">close</mat-icon>
        </b>
        </button>
        </tr>
    </table>
    <table class="accgroups_tbl" *ngIf="add">
      <tr>
        <th style="border: none; border-top: 1px dashed wheat; text-align: center;" colspan="100%">Net Worth:
          <span>$250,000</span>
          <mat-icon (click)="dialogBox('Net Worth', {})" style="float: right; vertical-align: middle; font-size: 7mm; cursor: pointer; color:white" matTooltip="Edit Groups" class="material-icons">mode_edit</mat-icon>
        </th>
      </tr>
      <tr>
        <th style="border: none; border-top: 1px dashed wheat; text-align: center;" colspan="100%">Account Groups:
          <mat-icon (click)="dialogBox('Edit Groups', accGroups)" style="float: right; vertical-align: middle; font-size: 7mm; cursor: pointer; color:white" matTooltip="Edit Groups" class="material-icons">mode_edit</mat-icon>
        </th>
      </tr>
      <tr style="border: 1px dashed wheat;" *ngFor="let x of accGroups_display_grp; index as i">
        <td style="border: none; text-align: right;">{{x}}:</td>
        <td style="border: none; text-align: center;" *ngFor="let y of accGroups_display_acc[i]">
          <span style="font-size: x-small;" id="{{y[0]}}">{{y[0]}}</span>
        </td>
      </tr>
    </table>
  </div>
<br>
 <div *ngIf="chart" class="charting_hist" >
<div class="chart_inside">
    <table style="border: none;">
      <tr>
        <td style="border: none;">View By:</td>
        <td style="border: none;">
          <select class="inputs" (change)="viewBySelect($event.target.value)">
            <option value="">&nbsp;</option>
            <option value="Account">Account</option>
            <option value="Account Group">Account Group</option>
          </select>
        </td>
        <td style="border: none;" *ngIf="byNone">&nbsp;</td>
        <td style="border: none;" *ngIf="byNone">
        </td>
        <td  style="border: none;" *ngIf="byAccount">Select Account:</td>
        <td style="border: none;" *ngIf="byAccount">
          <select class="inputs">
            <option value="">&nbsp;</option>
            <option value="Account">Account1</option>
            <option value="Account Group">Account2</option>
          </select>
        </td>
        <td  style="border: none;" *ngIf="byGroup">Select Group:</td>
        <td style="border: none;" *ngIf="byGroup">
          <select class="inputs">
            <option value="">&nbsp;</option>
            <option value="Account">Group1</option>
            <option value="Account Group">Group2</option>
          </select>
        </td>
        <td *ngIf="byGroup || byAccount" style="border: none;">
          <span class="material-icons" id="saveAcc">done</span>
        </td>
      </tr>

    </table>
    <p style="text-align:center;color: wheat; font-size: 1em;">Daily historic performance - {{type_key | uppercase}}
      <span style="color: green;" *ngIf="perc_change.indexOf('-')==-1">{{perc_change}}</span>
      <span style="color: red;" *ngIf="perc_change.indexOf('-')!=-1">{{perc_change}}</span>
      <mat-icon (click)="dialogBox('Progress Data', accGroups)" style="float: right; vertical-align: middle; font-size: 7mm; cursor: pointer; color:white" matTooltip="Edit Groups" class="material-icons">mode_edit</mat-icon>
    <p>
    <canvas id="canvas">{{ chart }}</canvas>

    <div style="text-align: center; color: wheat;">
      <button mat-button (click)="filterHist('All')">
        All
      </button>
      <button mat-button (click)="filterHist('2Year')">
        2 Year
      </button>
      <button mat-button (click)="filterHist('1Year')">
          1 Year
        </button>
        &nbsp;&nbsp;
        <button mat-button (click)="filterHist('YTD')">
            YTD
        </button>
        &nbsp;&nbsp;
        <button mat-button (click)="filterHist('6Mon')">
            6 Mon
        </button>
        &nbsp;&nbsp;
        <button mat-button  (click)="filterHist('3Mon')">
            3 Mon
        </button>
        &nbsp;&nbsp;
        <button mat-button (click)="filterHist('1Mon')">
            1 Mon
        </button>
        <button mat-button (click)="filterHist('1Wk')">
          1 Wk
      </button>
      <br><br>
      </div >

    <div style="text-align: center;">
    <button mat-raised-button  (click)="changeType('fidelity')">
        {{account_1}}
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button  (click)="changeType('robinhood')">
        {{account_2}}
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button  (click)="changeType('tastyworks')">
        {{account_3}}
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button  (click)="changeType('retirement')">
          Retirement
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button  (click)="changeType('total')">
          Total
      </button>
      <br><br>
    </div >
  </div>

  </div>
  <div style="display: inline-flex; margin: auto;">
    <app-monthly></app-monthly>
  </div>
  <div style="display: inline-flex; margin: auto;">
    <app-tradegains></app-tradegains>
  </div>
  <div style="display: inline-flex; margin: auto;">
    <app-tax></app-tax>
  </div>
  <div style="display: inline-flex; margin: auto;">
    <app-budget></app-budget>
  </div>
  <br>
</div>
