<div class="container">

    <div>
  <div class="charting_front">
    <p style="width:100%;text-align:center;color: wheat; font-size: 1.5em;">{{monthone}}
      <button mat-button style="float: right;"><img (click)="gainsProgress()" style="width: 25px; height: 25px;" src="/assets/refresh.png"></button>
      <canvas id="canvas_front">{{ frontMonth }}</canvas>
    </p>
  </div>
  <div class="charting_next" >
    <p style="width:100%;text-align:center;color: wheat; font-size: 1.5em;">{{monthtwo}}
      <button mat-button style="float: right;"><img (click)="gainsProgress()" style="width: 25px; height: 25px;" src="/assets/refresh.png"></button>
    <canvas id="canvas_next">{{ nextMonth }}</canvas>
    </p>
  </div>
</div>

<div class="percent">
  <p style="width:100%;text-align:center;color: wheat; font-size: 1.5em;">Percent PNL
    <button mat-button style="float: right;"><img (click)="currentProgress()" style="width: 25px; height: 25px;" src="/assets/refresh.png"></button>
  </p>
  <div *ngIf="loading else loaded" style="text-align: center;">
    <div class="loadingio-spinner-spinner-w7gjtov5wck"><div class="ldio-tbsvbued4f">
      <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
      </div></div>
  </div>

  <ng-template #loaded>

    <table>
      <tr>
        <th>Ticker</th>
        <th>call-put</th>
        <th>Expiry</th>
        <th>Buy</th>
        <th>Current</th>
        <th>PNL</th>
        <th>% Chng</th>
      </tr>
      <tr *ngFor="let x of current;">

          <td *ngFor="let y of x | slice:1; let i = index" >
            <span *ngIf="x[0].indexOf('fidelity')!=-1 && i!=6"  style="color:orange">
              {{y}}
            </span>
            <span *ngIf="x[0].indexOf('robinhood')!=-1 && i!=6"  style="color:rosybrown">
              {{y}}
            </span>
            <span *ngIf="x[0].indexOf('tastyworks')!=-1 && i!=6"  style="color:rgb(243, 138, 126)">
              {{y}}
            </span>
            <span *ngIf="i==6 && y.indexOf('-')!=-1"  style="color:red">
              <span *ngIf="!retValGreater(y, -75.0)" style="border: solid red 0.5px;">{{y}}%</span>
              <span *ngIf="!retValGreater(y, -50.0) && retValGreater(y, -75.0)" style="border: dashed red 0.5px;">{{y}}%</span>
              <span *ngIf="retValGreater(y, -50.0)">{{y}}%</span>
            </span>
            <span *ngIf="i==6 && y.indexOf('-')==-1"  style="color:green">
              <span *ngIf="retValGreater(y, 75.0)" style="border: solid green 0.5px;">{{y}}%</span>
              <span *ngIf="retValGreater(y, 50.0) && !retValGreater(y, 75.0)" style="border: dashed green 0.5px;">{{y}}%</span>
              <span *ngIf="!retValGreater(y, 50.0)">{{y}}%</span>
            </span>
          </td>
        </tr>
    </table>
  </ng-template>
</div>

<div *ngIf="chart" class="charting_hist" >
  <p style="width:100%;text-align:center;color: wheat; font-size: 1.5em;">Daily historic performance - {{type | uppercase}}
    <span style="color: green;" *ngIf="perc_change.indexOf('-')==-1">{{perc_change}}</span>
    <span style="color: red;" *ngIf="perc_change.indexOf('-')!=-1">{{perc_change}}</span>
    <button mat-button style="float: right;"><img (click)="charting()" style="width: 25px; height: 25px;" src="/assets/refresh.png"></button>
<p>
  <canvas id="canvas">{{ chart }}</canvas>

  <div style="text-align: center; color: wheat;">
    <button mat-button (click)="filterHist('All')">
      All
    </button>
    <button mat-button (click)="filterHist('2Year')">
      2 Year
    </button>
    <button mat-button (click)="filterHist('1Year')">
        1 Year
      </button>
      &nbsp;&nbsp;
      <button mat-button (click)="filterHist('YTD')">
          YTD
      </button>
      &nbsp;&nbsp;
      <button mat-button (click)="filterHist('6Mon')">
          6 Mon
      </button>
      &nbsp;&nbsp;
      <button mat-button  (click)="filterHist('3Mon')">
          3 Mon
      </button>
      &nbsp;&nbsp;
      <button mat-button (click)="filterHist('1Mon')">
          1 Mon
      </button>
      <button mat-button (click)="filterHist('1Wk')">
        1 Wk
    </button>
    <br><br>
    </div >

  <div style="text-align: center;">
  <button mat-raised-button  (click)="changeType('fidelity')">
      Fidelity
    </button>
    &nbsp;&nbsp;
    <button mat-raised-button  (click)="changeType('robinhood')">
        Robinhood
    </button>
    &nbsp;&nbsp;
    <button mat-raised-button  (click)="changeType('tastyworks')">
        Tastyworks
    </button>
    &nbsp;&nbsp;
    <button mat-raised-button  (click)="changeType('retirement')">
        Retirement
    </button>
    &nbsp;&nbsp;
    <button mat-raised-button  (click)="changeType('total')">
        Total
    </button>
    <br><br>
  </div >
  <div style="color: wheat; border: solid wheat 0px; padding: 5px; text-align: center;">
      &nbsp;&nbsp;<u>Data:</u>&nbsp;
      &nbsp;&nbsp;Fidelity:&nbsp; <input matInput type="text" id="fidelity" style="width: 60px;">
      &nbsp;&nbsp;Robinhood:&nbsp; <input matInput type="text" id="robinhood" style="width: 60px;">
      &nbsp;&nbsp;Tastyworks:&nbsp; <input matInput type="text" id="tastyworks" style="width: 60px;">
      &nbsp;&nbsp;Retirement:&nbsp; <input matInput type="text" id="retirement" style="width: 60px;">
      <br>
      &nbsp;&nbsp;<u>Contributions:</u>&nbsp;
      &nbsp;&nbsp;Fidelity:&nbsp; <input matInput type="text" id="fidelity_c" style="width: 60px;">
      &nbsp;&nbsp;Robinhood:&nbsp; <input matInput type="text" id="robinhood_c" style="width: 60px;">
      &nbsp;&nbsp;Tastyworks:&nbsp; <input matInput type="text" id="tastyworks_c" style="width: 60px;">
      &nbsp;&nbsp;Retirement:&nbsp; <input matInput type="text" id="retirement_c" style="width: 60px;">
      <button mat-button (click)="addDataHistoric()"><u>Add</u></button>
  </div>
</div>
</div>
