<div class= "bottom">
  <table >
    <tr>
      <td>&nbsp;</td>
      <td><b>Contact me:</b></td>
    </tr>
    <tr>
        <td>&nbsp;<b>o</b>&nbsp;</td>
        <td>&nbsp;&nbsp;(347) 685 3951</td>
      </tr>
      <tr>
        <td>&nbsp;<b>o</b>&nbsp;</td>
        <td>&nbsp;&nbsp;silpaservicesllc@gmail.com</td>
      </tr>
  </table>
  <table>
    <tr>
      <td colspan="2" style="color: aliceblue;">* This website does not store or share any of your personal or financial data.
        <br>** If you voluntarily provide your phone/email info then that is the only information ever stored on this site </td>
    </tr>

  </table>
</div>
