<div class="docpan">
  <h5> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{msg | uppercase}} - {{nameSel}}</h5>
  <div class="chartingvirus">
    <table *ngIf="activitySize(dt_activity) > 0">

      <tr>
        <td colspan="2" style="border: none; text-align: right; color: aliceblue;">Filter by Date or Ticker:</td>
        <td style="border: none;">
          <span><b>Date</b>:
            <select class="inputs" (change)="selectDate($event.target.value)">
              <option value="">&nbsp;</option>
              <option value="ThisMonth">This Month</option>
              <option value="ThisWeek">This Week</option>
              <option value="PreviousMonth">Previous Month</option>
              <option value="PreviousWeek">Previous Week</option>
              <option value="YeartoDate">Year to date</option>
              <option value="PreviousYear">Previous Year</option>
            </select>
          </span>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <span><b>Ticker</b>:&nbsp;<input class="inputs" matInput type="text" id="ticker" value="All"></span>&nbsp;&nbsp;
          <button mat-raised-button (click)="filter()">Filter</button>
        </td>
      </tr>
      <tr>
        <th style="border: none;">Date (mm/dd/yyyy HH:MM:SS)</th>
        <th style="border: none;">Ticker</th>
        <th style="border: none; text-align: center;">Details</th>
      </tr>
      <tr *ngFor="let x of dt_activity">
        <td style="width: 50px;">{{x.date}}</td>
        <td style="color: red; padding: 5px;" matTooltip="Closed trade" *ngIf="getDetails(x)[0] == 'cost'">{{x.ticker | uppercase}}</td>
        <td style="color: green; padding: 5px;" matTooltip="Opened trade" *ngIf="getDetails(x)[0] == 'premium'">{{x.ticker | uppercase}}</td>
        <td>
          <table>
            <span *ngFor="let z of getDetails(x)[1]; let i = index">
              <tr>&nbsp;&nbsp;<span style="color: aliceblue;">{{z}}</span>:&nbsp;<span style="color: aliceblue;">{{getDetails(x)[2][i]}}</span>&nbsp;&nbsp;|&nbsp;</tr>
            </span>
          </table>
        </td>
      </tr>

    </table>
    <table *ngIf="activitySize(dt_activity) == 0">
      <tr>
        <th>Strategy</th>
        <th>Expiry</th>
        <th>Coll ateral</th>
        <th>Short call</th>
        <th>Short put</th>
        <th>Prem.</th>
      </tr>
      <tr *ngFor="let x of process(ticker)">
        <td *ngFor="let y of x | slice:1">{{y}}</td>
      </tr>
    </table>
  </div>

</div>
