.chartingvirus{
  padding: 2%;
  margin-top: 0px;
  width: 100%;
  height: inherit;
  display: inline-block;
  min-width: 400px;
  max-width: 800px;
  float: left;
}
.desc {
  width: 100%;
  text-align: justify;
  color: aliceblue;
  max-width: 800px;
}

@media only screen and (max-width: 600px){

  .chartingvirus table th {
    border: none;
    font-size: 0.7em;
    padding: -5px;
    color: wheat;
  }
  .chartingvirus table td {
    border-top: wheat dashed 1px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border: none;
    font-size: 0.7em;
    padding: -5px;
    color: wheat;
  }
}
@media only screen and (min-width: 600px){
  .chartingvirus table th {
    border: none;
    font-size: 1.2em;
    padding: -5px;
    color: wheat;
  }
  .chartingvirus table td {
    border-top: wheat dashed 2px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-size: 1.0em;
    padding: -5px;
    color: wheat;
  }
}
.inputs {
  width:80px;
  resize: vertical;
  padding:8px;
  border-radius:5px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height: 30px;
}
