<div class="docpan">
  <h5> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{msg | uppercase}} - {{nameSel}}</h5>
  <div class="chartingvirus">
    <table *ngIf="activitySize(dt_activity) > 0">

      <tr>
        <td colspan="3" style="border: solid; text-align: left; color: aliceblue;">Filter by Date, Ticker, trade type and pnl:</td>
      </tr>
      <tr>
        <td colspan="3" style="border: solid;">
          <span><b>Date</b>:
            <select class="inputs" (change)="selectDate($event.target.value)">
              <option value="">&nbsp;</option>
              <option value="ThisMonth">This Month</option>
              <option value="ThisWeek">This Week</option>
              <option value="PreviousMonth">Previous Month</option>
              <option value="PreviousWeek">Previous Week</option>
              <option value="YeartoDate">Year to date</option>
              <option value="PreviousYear">Previous Year</option>
            </select>
          </span>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <span><b>Ticker</b>:&nbsp;<input class="inputs" matInput type="text" id="ticker" value="All"></span>&nbsp;&nbsp;
          <span><b>Trade Type:</b>:
            <select class="inputs" (change)="selectTrade($event.target.value)">
              <option value="">&nbsp;</option>
              <option value="All">All</option>
              <option value="CoveredCall">Covered Call</option>
              <option value="CreditCallSpread">Credit call spread</option>
              <option value="CreditPutSpread">Credit put spread</option>
              <option value="IronCondor">Iron condor</option>
              <option value="IronButterfly">Iron Butterfly</option>
            </select>
          </span>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <span><b>PNL</b>:
            <select class="inputs" (change)="selectPnl($event.target.value)">
              <option value="">&nbsp;</option>
              <option value="All">All</option>
              <option value="100g">> 100%</option>
              <option value="100to0">0% to 100%</option>
              <option value="0to100">-100% to 0%</option>
              <option value="100l">< -100%</option>
            </select>
          </span>
          &nbsp;&nbsp;

          <button mat-raised-button (click)="filter()">Filter</button>
        </td>
      </tr>
      <tr>
        <th style="border: none; font-weight: 1.2em;">Date (mm/dd/yyyy HH:MM:SS)</th>
        <th style="border: none; font-weight: 1.2em;">Ticker</th>
        <th style="border: none; text-align: center; font-weight: 1.2em;">Details</th>
      </tr>
      <tr *ngFor="let x of dt_activity">
        <td style="width: 20%;">{{x.date}}</td>
        <td style="color: red; padding: 5px;" matTooltip="Closed trade" *ngIf="getDetails(x)[0] == 'cost'">{{x.ticker | uppercase}}</td>
        <td style="color: green; padding: 5px;" matTooltip="Opened trade" *ngIf="getDetails(x)[0] == 'premium'">{{x.ticker | uppercase}}</td>
        <td>
          <table>
            <tr style="font-size: 0.9em;" *ngIf="getDetails(x)[0] == 'cost'">{{x.type}}&nbsp;&nbsp;|&nbsp;&nbsp; <span>Cost:
              <span style="color: aliceblue;">{{x.cost}}</span> &nbsp;&nbsp;|&nbsp;&nbsp;
              <span *ngIf="x.pnl.indexOf('-')!=-1" style="color: red; font-weight: bold;">{{x.pnl}}</span>
              <span *ngIf="x.pnl.indexOf('-')==-1" style="color: green;; font-weight: bold;">{{x.pnl}}</span>
              </span>
            </tr>
            <tr style="font-size: 0.9em;" *ngIf="getDetails(x)[0] == 'premium'">{{x.type}}&nbsp;&nbsp;|&nbsp;&nbsp; <span>Premium:
              <span style="color: aliceblue;">{{x.premium}}</span>
              </span>
            </tr>
            <tr style="font-size: 0.9em;">
              &nbsp;&nbsp;<span style="color: wheat;">Expiry</span>:
              &nbsp;&nbsp;<span style="color: aliceblue;">{{x.expiry}}</span>&nbsp;&nbsp;|
              &nbsp;&nbsp;<span style="color: wheat;">Contracts</span>:
              &nbsp;&nbsp;<span style="color: aliceblue;">{{x.contracts}}</span>&nbsp;&nbsp;|
              &nbsp;&nbsp;<span style="color: wheat;">Collateral</span>:
              &nbsp;&nbsp;<span style="color: aliceblue;">{{x.collateral}}</span>&nbsp;&nbsp;|
              &nbsp;&nbsp;<span style="color: wheat;">Call</span>:
              &nbsp;&nbsp;<span style="color: aliceblue;">{{x.call}}</span>&nbsp;&nbsp;|
              &nbsp;&nbsp;<span style="color: wheat;">Put</span>:
              &nbsp;&nbsp;<span style="color: aliceblue;">{{x.put}}</span>
            </tr>
          </table>
        </td>
      </tr>

    </table>
    <table *ngIf="activitySize(dt_activity) == 0">
      <tr>
        <th>Strategy</th>
        <th>Expiry</th>
        <th>Coll ateral</th>
        <th>Short call</th>
        <th>Short put</th>
        <th>Prem.</th>
      </tr>
      <tr *ngFor="let x of process(ticker)">
        <td *ngFor="let y of x | slice:1">{{y}}</td>
      </tr>
    </table>
  </div>

</div>
