<div class="docpan">

  <h5 *ngIf="default">This is default content</h5>
  <h5 *ngIf="roleslist">What are all the roles defined in the app</h5>
  <h5 *ngIf="newuser">How to create a new user</h5>
  <div class="chartingvirus">
    <div *ngIf="default">
      This is default content
    </div>
    <div *ngIf="roleslist">
      <table>
        <tr>
          <th></th>
          <th>Admin</th>
          <th>AdvancedTrader</th>
          <th>BasicTrader</th>
          <th>Analytics</th>
          <th>Student</th>
          <th>TechStu</th>
        </tr>
        <tr>
          <td>Home</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
        </tr>
        <tr>
          <td>Tutoring</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
          <td></td>
        </tr>
        <tr>
          <td>Techie</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>X</td>
        </tr>
        <tr>
          <td>Explore</td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Analytics</td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td>X</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>All Users</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Monitor</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Progress</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Docs</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td>X</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Admin</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
    <div *ngIf="newuser">

    </div>
  </div>



</div>
