.chartingvirus{
  padding: 2%;
  margin-top: 0px;
  width: 100%;
  height: inherit;
  display: inline-block;
  min-width: 400px;
  max-width: 800px;
  float: left;
}
.desc {
  width: 100%;
  text-align: justify;
  color: aliceblue;
  max-width: 800px;
}
.bugtable {
  width: 120%;
  color: aliceblue;
}
.bugtable td {
  min-width: 0px;
}
#description {
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height: 75px;
}
#selectPage {
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height: 45px;
}
#selectType {
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height: 45px;
}
