.content {
  padding: 20px;
  width: 80%;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
}
.content1 {
  padding: 20px;
  width: 80%;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
}
.content01 {
  padding: 20px;
}
.social {
  margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.this {
  padding: 2.5px;
  padding-top: 10px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
}

.this td, th {
  border-left:solid wheat 1px;
  border-top:solid wheat 1px;
}

.this th {
  background-color: rosybrown;
  border-top: none;
}

.this td:first-child, th:first-child {
   border-left: none;
}

.one {
  padding: 20px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
}

.one td, th {
  border-left:solid wheat 1px;
  border-top:solid wheat 1px;
}

.one th {
  background-color: rosybrown;
  border-top: none;
}

.one td:first-child, th:first-child {
   border-left: none;
}

.two {
  padding: 20px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
}

.two td, th {
  border-left:solid wheat 1px;
  border-top:solid wheat 1px;
}

.two th {
  background-color: rosybrown;
  border-top: none;
}

.two td:first-child, th:first-child {
   border-left: none;
}

.three {
  padding: 20px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
}

.three td, th {
  border-left:solid wheat 1px;
  border-top:solid wheat 1px;
}

.three th {
  background-color: rosybrown;
  border-top: none;
}

.three td:first-child, th:first-child {
   border-left: none;
}

.four {
  padding: 20px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
}

.four td, th {
  border-left:solid wheat 1px;
  border-top:solid wheat 1px;
}

.four th {
  background-color: rosybrown;
  border-top: none;
}

.four td:first-child, th:first-child {
   border-left: none;
}
