.content {
  position: relative;
  display: inline-block;
  width: 95%;
    border: pink solid 0px;
}

.tenant_content {
  position: relative;
  width: 100%;
}

.admin_content {
  position: relative;
  width: 100%;
    border: pink solid 0px;
}

.social {
  position: relative;
  display: inline-block;
  border: pink solid 0px;
  width: 95%;
}

.this {

  margin: 0 auto;
  padding: 5px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
}

.this td, th {
  border-left:solid wheat 1px;
  border-top:solid wheat 1px;
}

.this th {
  background-color: rosybrown;
  border-top: none;
}

.this td:first-child, th:first-child {
   border-left: none;
}

.one {
  margin-right: 20px;
  margin: 0px auto;
  padding: 20px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
}

.one td, th {
  border-left:solid wheat 0px;
  border-top:solid wheat 0px;
}

.one th {
  background-color: rosybrown;
  border: none;
}

.one tr:nth-child(odd) {background: rgb(78, 73, 73);}
.one td:first-child, th:first-child {
   border: none;
   font-style: italic;
}

.two {
  margin: 0px auto;
  padding: 20px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
}

.two td, th {
  border-left:solid wheat 0px;
  border-top:solid wheat 0px;
}

.two th {
  background-color: rosybrown;
  border: none;
}
.two tr:nth-child(odd) {background: rgb(78, 73, 73);}

.two td:first-child, th:first-child {
   border: none;
   font-style: italic;
}

.three {
  margin: 0 auto;
  padding: 5px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
}

.three td, th {
  border-left:solid wheat 1px;
  border-top:solid wheat 1px;
}

.three th {
  background-color: rosybrown;
  border-top: none;
}

.three td:first-child, th:first-child {
   border-left: none;
}

.four {
  display: inline-block;
  padding: 20px;
  border-collapse:separate;
  border:solid wheat 1px;
  border-radius:10px;
  -moz-border-radius:6px;
}

.four td, th {
  border-left:solid wheat 1px;
  border-top:solid wheat 1px;
}

.four th {
  background-color: rosybrown;
  border-top: none;
}

.four td:first-child, th:first-child {
   border-left: none;
}
igx-drop-down {
  padding: 2%;
}
.search {
  width: 250px;
  padding: 0%;
  display: inline-block;
  margin-left: 10%;
  margin-right: auto;
}
.desc {
  word-wrap: normal;
  max-width: 300px;
  display: block;
}
#desc {
  width:200%;
  resize: vertical;
  padding:10px;
  border-radius:5px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height: 60px;
}
.inputs {
  width:100%;
  resize: vertical;
  padding:5px;
  border-radius:5px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height: 30px;
}
.trailversion table td{
  border: none;
}
.trailversion table {
  margin: 0px auto;

}

@media only screen and (max-width: 800px){
  .mobile-view {
    display: none;
  }
}
@media only screen and (min-width: 800px){
  .mobile-view-off {
    display: none;
  }
}
