<h4 style="text-align: center; margin-left: 125px; color: wheat;">Trade management, please login to continue.</h4>

<div class="login">

  <mat-form-field>

    <table class="this">
      <tr >
        <td style="border: solid wheat 0px; font-size: 1.8em;"><mat-label>Username: </mat-label></td>
        <td style="border: solid wheat 0px;"><input matInput type="text" id="username" style="height: 35px !important;"></td>
      </tr>
      <tr>
        <td colspan="2" style="border: solid wheat 0px; padding-top: 20px; width: 100px !important; text-align: center;">
            <button mat-raised-button (click)="onClickLogin()"><span style="font-size: 2em;">Login &nbsp;</span>
              <mat-icon style="
                height:48px !important;
                width:48px !important;
                font-size:48px !important;" class="material-icons">login</mat-icon>
            </button>
        </td>
      </tr>



  </table>
</mat-form-field>

</div>
