/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  padding:0px;
}

.topnav p{
  display: inline;
  text-align:right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: wheat;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: wheat;
  color: black;
}

.hme {
  background-color: rgb(80, 79, 79);
  color: white;
}

.edu {
  background-color: rgb(105, 105, 105);
  text-decoration: underline;
  color: white;
}

.pro {
  background-color: rgb(105, 105, 105);
  color: white;
  text-decoration: underline;
}

.fin {
  background-color: rgb(105, 105, 105);
  color: white;
  text-decoration: underline;
}
.hth {
  background-color: rgb(105, 105, 105);
  color: white;
  text-decoration: underline;
}
.doc {
  background-color: rgb(105, 105, 105);
  text-decoration: underline;
  color: white;
}
