/* Add a black background color to the top navigation */
.bottomnav {
  overflow: hidden;
  padding:0px;
  position: fixed;
  bottom: 0;
  text-align:center;
  width: 100%;
  z-index: 20;
}

.bottomnav a {
  color: wheat;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 40px;
}

/* Change the color of links on hover */
.bottomnav a:hover {
  color: white;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  padding:0px;
}

.topnav p{
  display: inline;
  text-align:center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: wheat;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: wheat;
  color: black;
}

.hme {
  color: white;
}

.tut {
  background-color: rgb(105, 105, 105);
  text-decoration: underline;
  color: white;
}

.adm {
  background-color: rgb(105, 105, 105);
  text-decoration: underline;
  color: white;
}

.exp {
  background-color: rgb(105, 105, 105);
  text-decoration: underline;
  color: white;
}

.edu {
  background-color: rgb(105, 105, 105);
  text-decoration: underline;
  color: white;
}

.pro {
  font-size: 70px;
  color: white;
  text-decoration: underline;
}

.fin {
  background-color: rgb(105, 105, 105);
  color: white;
  text-decoration: underline;
}
.hth {
  background-color: rgb(105, 105, 105);
  color: white;
  text-decoration: underline;
}
.doc {
  background-color: rgb(105, 105, 105);
  text-decoration: underline;
  color: white;
}

.header_menu{
  float:right;
  background-color:wheat;
  padding: 5px;
  border: rosybrown solid 1px;
  margin-top: -22px;
  margin-right: 1px;
  position:fixed;
  right: 0;
  top: 6.5%;
  z-index: 11;
}

.header_menu table {
  color: black;
  border: 0px;
}

.header_menu td {
  color: black;
  border: 0px;
}
.inputs {
  width:100%;
  resize: vertical;
  padding:5px;
  border-radius:5px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height: 30px;
}
.notification {
  cursor:pointer;
  color:white;
}

.notification:hover {
  cursor:pointer;
  color:wheat ;
  font-size: 30px;
  margin-right: 8px;
}
.all {
  width: 100%;
  text-align: center;
}

.all a:hover{
color: rgb(184, 176, 176);;
text-decoration: none;
}
.all a{
  color: rgb(226, 215, 215);
  text-decoration: underline;
  text-align: center;

}
.circle {
  width: 0.5px;
  height: 0.5px;
  line-height: 0.25px;
  border-radius: 50%;
  font-size: 0.4em;
  color: #fff;
  text-align: center;
  background: red;
  padding: 5px;
  text-decoration: none;
}
.circle2 {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background: rgb(65, 61, 61);
}
