<div class="topnav">
  <a [routerLink]="'/'" routerLinkActive="hme">Home</a> <!--https://github.com/shantanusood/YahooFinDataAnalytics--><!--PYTHON-->
  <a [routerLink]="'/education'" routerLinkActive="edu">External Data</a> <!--https://github.com/shantanusood/SocialDataService--><!--JAVA-->
  <a [routerLink]="'/health'" routerLinkActive="hth">Strategies</a> <!--https://github.com/shantanusood/InvestmentStrategies--><!--JAVA-->
  <a [routerLink]="'/finance'" routerLinkActive="fin">Predictions</a> <!--https://github.com/shantanusood/PredictiveModels--><!--PYTHON-->
</div>
