<div class="topnav">
  <a [routerLink]="'/'" routerLinkActive="hme" >Home</a> <!--https://github.com/shantanusood/YahooFinDataAnalytics--><!--PYTHON-->
  <a [routerLink]="'/strategy'" routerLinkActive="hth">Analytics</a> <!--https://github.com/shantanusood/InvestmentStrategies--><!--JAVA-->
  <a [routerLink]="'/external'" routerLinkActive="edu">All Users</a> <!--https://github.com/shantanusood/SocialDataService--><!--JAVA-->
  <a [routerLink]="'/predict'" routerLinkActive="fin">Monitor</a> <!--https://github.com/shantanusood/PredictiveModels--><!--PYTHON-->
  <a [routerLink]="'/progress'" routerLinkActive="pro">Progress</a>
  <a [routerLink]="'/docs'" routerLinkActive="doc">Docs</a> <!--https://github.com/shantanusood/--><!---->
  <a style="float: right;"><span style="height: auto;">{{username}}</span></a>
</div>

