.move{
  color: black;
}
.move table{
  border: none;
}
.move table td{
  color: black;
  border: dashed black 0.5px;
}

.inputs {
  width:100%;
  resize: vertical;
  padding:5px;
  border-radius:5px;
  border:solid 1px rgb(177, 174, 174);
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height: 30px;
}

#closetrade {
  padding:8px;
  color:red;
}
#closetrade:hover {
  cursor: pointer;
  padding:8px;
  color:wheat;

}
