<!-- Analytics -->
<div class="container">

  <div class="grid">
    <table>
      <tr>
        <!-- (change)="selectOption($event.target.value)"-->
        <td style="border: none;">
          <select class="inputs" (change)="selectParent($event.target.value)">
            <option *ngFor="let x of parentSectors; let j = idx" value="{{x}}" [selected]="j === 0">{{x}}</option>
          </select>
        </td>
        <td>
          <button mat-button (click)="getSubSectors()" >Find SubSectors</button>
        </td>
        <td style="border: none;" *ngIf="subSectors" (change)="selectSubSector($event.target.value)">
          <select class="inputs" >
            <option value="All" [selected]>All</option>
            <option *ngFor="let x of subSectors; let j = idx" value="{{x}}" [selected]="j === 0">{{x}}</option>
          </select>
        </td>
        <td>
          <button mat-button (click)="getTickers()" >Get Tickers</button>
        </td>
        <td style="border: none;">
          Update Sector:
        </td>
        <td *ngIf="!run_spinner">
          <button mat-button (click)="syncSector('quote')">Quote</button>
        </td>
        <td *ngIf="selectedParent.indexOf('Indicators') == -1 && !run_spinner">
          <button mat-button (click)="syncSector('ks')">Key stats</button>
        </td>
        <td *ngIf="selectedParent.indexOf('Indicators') == -1 && !run_spinner">
          <button mat-button (click)="syncSector('fin')">Income</button>
        </td>
        <td *ngIf="selectedParent.indexOf('Indicators') == -1 && !run_spinner">
          <button mat-button (click)="syncSector('bs')">Balance</button>
        </td>
        <td *ngIf="selectedParent.indexOf('Indicators') == -1 && !run_spinner">
          <button mat-button (click)="syncSector('cf')">Cash</button>
        </td>
        <td *ngIf="selectedParent.indexOf('Indicators') == -1 && !run_spinner">
          <button mat-button (click)="syncSector('inside')">Insider</button>
        </td>
        <td *ngIf="selectedParent.indexOf('Indicators') == -1 && !run_spinner">
          <button mat-button (click)="syncSector('bonds')">Bonds</button>
        </td>
        <td style="border: none;" *ngIf="run_spinner"><div class="lds-dual-ring"></div></td>
      </tr>
    </table>
    <br>
    <hr>
    <br>
    <table *ngIf="selectedParent.indexOf('Indicators') == -1">
        <tr>
        <th>Ticker</th>
        <th>Name</th>
        <th>Category</th>
        <th>Quote</th>
        <th>Key stats</th>
        <th>Income Statement</th>
        <th>Balance Sheet</th>
        <th>Cash Flow</th>
        <th>Insider</th>
        <th>Bond Rating</th>
      </tr>
      <tr *ngFor="let x of tickers">
        <td><button mat-button (click)="links(x.Ticker, x.Name)">{{x.Ticker}}</button></td>
        <td>{{x.Name}}</td>
        <td><button mat-button (click)="changeCat(x.Ticker, x.Name, x.Category)">{{x.Category}}</button></td>
        <td *ngIf="x.Quote == 'N'">
          <button mat-button (click)="dump(x, 'quote')" *ngIf="selectedParent.indexOf('Customs')==-1">Dump</button>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            N/A
          </span>
        </td>
        <td *ngIf="x.Quote != 'N'">
          <span *ngIf="selectedParent.indexOf('Customs')==-1">
            <button (click)="update(x, 'quote')" mat-button><img style="width: 15px; height: 15px;" src="/assets/refresh.png"></button>
            <button (click)="view(x, 'quote')" mat-button>{{dateDiff(x.Quote)}}</button>
          </span>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            <button (click)="view(x, 'quote')" mat-button>{{dateDiff(x.Quote)}}</button>
          </span>
        </td>

        <td *ngIf="x.Key == 'N'">
          <button mat-button (click)="dump(x, 'ks')" *ngIf="selectedParent.indexOf('Customs')==-1">Dump</button>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            N/A
          </span>
        </td>
        <td *ngIf="x.Key != 'N'">
          <span *ngIf="selectedParent.indexOf('Customs')==-1">
            <button (click)="update(x, 'ks')" mat-button><img style="width: 15px; height: 15px;" src="/assets/refresh.png"></button>
            <button (click)="view(x, 'ks')" mat-button>{{dateDiff(x.Key)}}</button>
          </span>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            <button (click)="view(x, 'ks')" mat-button>{{dateDiff(x.Key)}}</button>
          </span>
        </td>

        <td *ngIf="x.Income == 'N'">
          <button mat-button (click)="dump(x, 'fin')" *ngIf="selectedParent.indexOf('Customs')==-1">Dump</button>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            N/A
          </span>
        </td>
        <td *ngIf="x.Income != 'N'">
          <span *ngIf="selectedParent.indexOf('Customs')==-1">
            <button (click)="update(x, 'fin')" mat-button><img style="width: 15px; height: 15px;" src="/assets/refresh.png"></button>
            <button (click)="view(x, 'fin')" mat-button>{{dateDiff(x.Income)}}</button>
          </span>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            <button (click)="view(x, 'fin')" mat-button>{{dateDiff(x.Income)}}</button>
          </span>
        </td>

        <td *ngIf="x.Balance == 'N'">
          <button mat-button (click)="dump(x, 'bs')" *ngIf="selectedParent.indexOf('Customs')==-1">Dump</button>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            N/A
          </span>
        </td>
        <td *ngIf="x.Balance != 'N'">
          <span *ngIf="selectedParent.indexOf('Customs')==-1">
            <button (click)="update(x, 'bs')" mat-button><img style="width: 15px; height: 15px;" src="/assets/refresh.png"></button>
            <button (click)="view(x, 'bs')" mat-button>{{dateDiff(x.Balance)}}</button>
          </span>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            <button (click)="view(x, 'bs')" mat-button>{{dateDiff(x.Balance)}}</button>
          </span>
        </td>

        <td *ngIf="x.Cash == 'N'">
          <button mat-button (click)="dump(x, 'cf')" *ngIf="selectedParent.indexOf('Customs')==-1">Dump</button>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            N/A
          </span>
        </td>
        <td *ngIf="x.Cash != 'N'">
          <span *ngIf="selectedParent.indexOf('Customs')==-1">
            <button (click)="update(x, 'cf')" mat-button><img style="width: 15px; height: 15px;" src="/assets/refresh.png"></button>
            <button (click)="view(x, 'cf')" mat-button>{{dateDiff(x.Cash)}}</button>
          </span>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            <button (click)="view(x, 'cf')" mat-button>{{dateDiff(x.Cash)}}</button>
          </span>
        </td>

        <td *ngIf="x.Insider == 'N'">
          <button mat-button (click)="dump(x, 'inside')" *ngIf="selectedParent.indexOf('Customs')==-1">Dump</button>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            N/A
          </span>
        </td>
        <td *ngIf="x.Insider != 'N'">
          <span *ngIf="selectedParent.indexOf('Customs')==-1">
            <button (click)="update(x, 'inside')" mat-button><img style="width: 15px; height: 15px;" src="/assets/refresh.png"></button>
            <button (click)="view(x, 'inside')" mat-button>{{dateDiff(x.Insider)}}</button>
          </span>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            <button (click)="view(x, 'inside')" mat-button>{{dateDiff(x.Insider)}}</button>
          </span>
        </td>

        <td *ngIf="x.Bonds == 'N'">
          <button mat-button (click)="dump(x, 'bonds')" *ngIf="selectedParent.indexOf('Customs')==-1">Dump</button>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            N/A
          </span>
        </td>
        <td *ngIf="x.Bonds != 'N'">
          <span *ngIf="selectedParent.indexOf('Customs')==-1">
            <button (click)="update(x, 'bonds')" mat-button><img style="width: 15px; height: 15px;" src="/assets/refresh.png"></button>
            <button (click)="view(x, 'bonds')" mat-button>{{dateDiff(x.Bonds)}}</button>
          </span>
          <span *ngIf="selectedParent.indexOf('Customs')!=-1" style="color: aliceblue;">
            <button (click)="view(x, 'bonds')" mat-button>{{dateDiff(x.Bonds)}}</button>
          </span>
        </td>
      </tr>
    </table>
    <table *ngIf="selectedParent.indexOf('Indicators') != -1">
      <tr>
        <th>Ticker</th>
        <th>Name</th>
        <th>Category</th>
        <th>Country</th>
        <th>Quote</th>
      </tr>
      <tr *ngFor="let x of tickers" >
        <td>{{x.Ticker}}</td>
        <td>{{x.Name}}</td>
        <td>{{x.Category}}</td>
        <td>{{x.Country}}</td>
        <td *ngIf="x.Quote == 'N'"><button mat-button (click)="dumpIndicator(x, 'quote')">Dump</button></td>
        <td *ngIf="x.Quote != 'N'">
          <button (click)="dumpIndicator(x, 'quote')" mat-button><img style="width: 15px; height: 15px;" src="/assets/refresh.png"></button>
          <button (click)="viewIndicator(x, 'quote')" mat-button>{{dateDiff(x.Quote)}}</button>
        </td>
      </tr>
    </table>
    <span *ngIf="chart_boolean">
      <div>
        <p style="width:100%;text-align:center;color: wheat;">{{chart_title}}<p>
        <canvas id="canvas">
          {{ chart }}
      </canvas>
    </div>
  </span>

  </div>
  <br>
  <br>
  </div>
