@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette);

.search {
  width: 25%;
  padding: 2%;
}

igx-drop-down {
  z-index:1000;
  position: relative;
  display: inline-block;
}

