<div *ngIf="loading else loaded" style="text-align: center;">
  <div class="loadingio-spinner-spinner-w7gjtov5wck"><div class="ldio-tbsvbued4f">
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div></div>
</div>
<div style="float: right; position:fixed; margin-right: 10px; right: 10px; top: 2%; z-index: 10;">
  <br>
  <table>
    <tr><button mat-button><img (click)="onClickRefresh()" matTooltip="Refresh pag data" style="width: 25px; height: 25px;" src="/assets/refresh.png"></button></tr>
     <tr><button mat-button (click)="onClickAdd()">
       <b style="font-size: 10mm; color: white; "  matTooltip="Open trade box"  *ngIf="addtext.indexOf('-')==-1">{{addtext}}</b>
       <b style="font-size: 10mm; color: black; "  matTooltip="Close trade box"  *ngIf="addtext.indexOf('+')==-1">{{addtext}}</b>
      </button>
      </tr>
  </table>

</div>
<div style="max-width: 80px; padding: 8px; float: right; position:fixed; margin-right: 10px; right: 0; top: 20%; z-index: -1; background-color: rgb(78, 73, 73);">
  <table style="table-layout: fixed; width: 100%;">
  <tr><td style="color: orange; width: 100%; z-index: -1; word-wrap:break-word; border: none; white-space: normal;">{{account_1}}</td></tr>
  <tr><td  style="color: rosybrown; width: 100%; z-index: -1; word-wrap:break-word; border: none; white-space: normal;">{{account_2}}</td></tr>
  <tr><td style="color: rgb(243, 138, 126); width: 100%; z-index: -1; word-wrap:break-word; border: none; white-space: normal;">{{account_3}}</td></tr>
  <tr>&nbsp;</tr>
  <tr *ngFor="let x of processTopExpiration(dt)" style="color: wheat;"><td style=" border: none;">
    <span *ngIf="x.indexOf('-')!=-1">{{x}}:</span>
    <span *ngIf="x.indexOf('-')==-1" style="color: aliceblue;">{{x}}</span></td>
  </tr>
</table>
</div>
<div *ngIf="roles.indexOf('new')!=-1 && user_diffdays.indexOf('ENDED')!=-1 && add" style="height: 400px; width: 281px; float:right; background-color:wheat; padding: 5px; margin-top: 50px; margin-right: 10px; position:fixed; right: 0; top: 6.5%; z-index: 10;">
  <table style="margin: 0 auto;">
    <tr>
      <td style="color: red; border: none;">Trail expired</td>
    </tr>
    <tr>
      <td style="color: red;  border: none;"><button mat-button><u><a [routerLink]="'/subscribe'"  style="color: red;">Upgrade</a></u></button></td>
    </tr>
  </table>
</div>
<div *ngIf="add" style="float:right; background-color:wheat; padding: 5px; margin-top: 20px; margin-right: 10px; position:fixed; right: 0; top: 6.5%; z-index: 9;">
  <br>
  <table class="add">
    <tr><td>Account:<span *ngIf="required_msg" style="color: red; font-size: 1.2em;">{{required_msg}}</span></td>
      <td><select class="inputs" (change)="selectOption($event.target.value)">
      <option value="">&nbsp;</option>
      <option value="{{account_1}}">{{account_1}}</option>
      <option value="{{account_2}}">{{account_2}}</option>
      <option value="{{account_3}}">{{account_3}}</option>
    </select></td></tr>
    <tr><td>Strategy:<span *ngIf="required_strategy" style="color: red; font-size: 1.2em;">{{required_strategy}}</span></td>
      <td><select class="inputs" (change)="selectStrat($event.target.value)">
      <option value="">&nbsp;</option>
      <option value="Long Stock">Long Stock</option>
      <option value="Covered Call">Covered Call</option>
      <option value="Iron Condor">Iron Condor</option>
      <option value="Iron Butterfly">Iron Butterfly</option>
      <option value="Credit Put Spread">Credit Put Spread</option>
      <option value="Credit Call Spread">Credit Call Spread</option>
    </select></td></tr>
    <!--<tr><td>Account2:</td> <td><input matInput type="text" id="account"></td></tr>-->
    <tr><td>Ticker: <span *ngIf="required_ticker" style="color: red; font-size: 1.2em;">{{required_ticker}}</span></td>
      <td><input class="inputs" matInput type="text" id="ticker"></td></tr>
    <tr *ngIf="!longstock"><td>Contracts: <span *ngIf="required_contract" style="color: red; font-size: 1.2em;">{{required_contract}}</span></td>
      <td><input class="inputs" matInput type="number" id="contracts"></td></tr>
    <tr >
      <td> <span *ngIf="!longstock">Collateral</span><span *ngIf="longstock">Shares</span>:
        <span *ngIf="required_coll" style="color: red; font-size: 1.2em;">{{required_coll}}</span>
      </td>
      <td>
        <span *ngIf="!covered"><input class="inputs" matInput type="number" id="collateral"></span>
        <span *ngIf="covered"><input class="inputs" matInput type="number" id="collateral" value="0" disabled></span>
      </td>
    </tr>
    <tr *ngIf="!longstock"><td>Expiration: <span *ngIf="required_exp" style="color: red; font-size: 1.2em;">{{required_exp}}</span></td>
      <td>
        <input class="inputs" matInput type="date" id="exp" name="trip-start" (change)="changeDueDate()" value="{{cur_date}}" min="2020-01-01" max="2023-01-01">
      </td>
    </tr>
    <tr *ngIf="butterfly"><td>Call/Put: <span *ngIf="required_call" style="color: red; font-size: 1.2em;">{{required_call}}</span></td>
      <td>
        <span><input class="inputs" matInput type="number" id="call"></span>
        <span><input class="inputs" matInput type="number" id="put" value="0" hidden></span>
      </td>
    </tr>
    <tr *ngIf="!longstock && !butterfly"><td>Call side: <span *ngIf="required_call" style="color: red; font-size: 1.2em;">{{required_call}}</span></td>
      <td>
        <span *ngIf="!putspread"><input class="inputs" matInput type="number" id="call"></span>
        <span *ngIf="putspread"><input class="inputs" value="0" matInput type="number" id="call" disabled></span>
      </td>
    </tr>
    <tr *ngIf="!longstock && !butterfly"><td>Put side: <span *ngIf="required_put" style="color: red; font-size: 1.2em;">{{required_put}}</span></td>
      <td>
        <span *ngIf="!covered && !callspread"><input class="inputs" matInput type="number" id="put"></span>
        <span *ngIf="covered || callspread"><input class="inputs" matInput type="number" id="put" value="0" disabled></span>
      </td>
    </tr>
    <tr><td><span *ngIf="!longstock">Premium</span><span *ngIf="longstock">Price</span>:
      <span *ngIf="required_prem" style="color: red; font-size: 1.2em;">{{required_prem}}</span></td>
      <td><input class="inputs" matInput type="number" id="premium"></td></tr>
    <tr *ngIf="!longstock"><td></td><td><button mat-button (click)="clickAdd()" style="display: block; margin-left: auto; margin-right: auto; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></td></tr>
    <tr *ngIf="longstock"><td></td><td><button mat-button (click)="clickAddStock()" style="display: block; margin-left: auto; margin-right: auto; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></td></tr>
    <tr><td colspan="2"><span *ngIf="required_msg || required_strategy || required_ticker || required_contract || required_coll || required_exp || required_call || required_put || required_prem" style="color: red;">*required</span></td></tr>
    <tr *ngIf="addedRes"><td colspan="2" style="color: green;">{{addedRes}}</td></tr>
    <tr *ngIf="addedResErr"><td colspan="2" style="color: red;">{{addedResErr}}</td></tr>

</table>

</div>
<div class="container" >
  <ng-template #loaded>
    <p style="font-size: 1.2em; float: right; position:fixed; margin-right: 10px; right: 60px; top: 2%; z-index: 10; color: red;" *ngIf="refresh">
      <span class="blink_me">Refresh to see your changes --> </span></p>

  <div class="monitor">
    <div class="dividend">
      <table class="mobile-view">
        <tr>
          <th colspan="5" style="text-align: center; font-size: 1em; ">Upcoming earnings with good options volume</th>
        </tr>
        <tr>
          <th style="text-align: center;" *ngFor="let x of earning_dates">{{x}}</th>
        </tr>
        <tr>
          <td *ngFor="let x of earning_dates">
              <!--<tr *ngIf="getTopEarningsLength(x)>0">
                <th style="font-size: 0.7em">Ticker</th>
                <th style="font-size: 0.7em">Call Vol/Open Int</th>
                <th style="font-size: 0.7em">Put Vol/Open Int</th>
              </tr>-->
              <tr *ngIf="getTopEarningsLength(x)==0 && roles.indexOf('admin')!=-1">
                <td style="border: none;" *ngIf="!run_spinner"><button mat-raised-button (click)="runEarnings(x)">Run</button></td>
                <td style="border: none;" *ngIf="run_spinner"><div class="lds-dual-ring"></div></td>
              </tr>
              <tr *ngIf="getTopEarningsLength(x)==0 && roles.indexOf('admin')==-1">
                <td style="background-color: none; border: none;">None</td>
              </tr>
                <tr *ngFor="let y of getTopEarnings(x)">
                <td matTooltip="Ticker" style="color: aliceblue; font-size: 0.75em; border: none; padding: 1px;">{{y[0]}}
                  <sup matTooltip="At Open" style="color: green;" *ngIf="y[5].indexOf('Open')!=-1">O</sup>
                  <sup matTooltip="After Close" style="color: red;" *ngIf="y[5].indexOf('Close')!=-1">C</sup>
                </td>
                <td matTooltip="Call Volume/Call Open interest" style="color: aliceblue; font-size: 0.5em; border: none; padding: 1px;">{{y[1]}}/{{y[2]}}</td>
                <td matTooltip="Put Volume/Put Open interest" style="color: aliceblue; font-size: 0.5em; border: none; padding: 1px;">{{y[3]}}/{{y[4]}}</td>
              </tr>
              <tr *ngIf="getTopEarningsLength(x)>0 && roles.indexOf('admin')!=-1">
                <td *ngIf="!run_spinner">
                  <input class="inputs" matInput type="number" id="volume_threshhold" style="width: 63px;" value="1000"><br>
                </td>
                <td *ngIf="!run_spinner">
                  <input class="inputs" matInput type="number" id="open_threshhold" style="width: 63px;" value="10000"><br>
                </td>
                <td *ngIf="!run_spinner">
                  <button mat-button (click)="reRunEarnings(x)">Rerun</button>
                </td>
                <td style="border: none;" *ngIf="run_spinner"><div class="lds-dual-ring"></div></td>
              </tr>

          </td>
        </tr>
      </table>
      <table class="normal-view">
        <tr>
          <th style="text-align: center;" *ngFor="let x of earning_dates_mobile">{{x}}</th>
        </tr>
        <tr>
          <td *ngFor="let x of earning_dates_mobile">
              <!--<tr *ngIf="getTopEarningsLength(x)>0">
                <th style="font-size: 0.7em">Ticker</th>
                <th style="font-size: 0.7em">Call Vol/Open Int</th>
                <th style="font-size: 0.7em">Put Vol/Open Int</th>
              </tr>-->
              <tr *ngIf="getTopEarningsLength(x)==0 && roles.indexOf('admin')!=-1">
                <td style="border: none;" *ngIf="!run_spinner"><button mat-raised-button (click)="runEarnings(x)">Run</button></td>
                <td style="border: none;" *ngIf="run_spinner"><div class="lds-dual-ring"></div></td>
              </tr>
              <tr *ngIf="getTopEarningsLength(x)==0 && roles.indexOf('admin')==-1">
                <td style="background-color: none; border: none;">None</td>
              </tr>
                <tr *ngFor="let y of getTopEarnings(x)">
                <td matTooltip="Ticker" style="color: aliceblue; font-size: 0.75em; border: none; padding: 1px;">{{y[0]}}
                  <sup matTooltip="At Open" style="color: green; font-size: 0.5em; font-weight: bold;" *ngIf="y[5].indexOf('Open')!=-1">O</sup>
                  <sup matTooltip="After Close" style="color: red; font-size: 0.5em" *ngIf="y[5].indexOf('Close')!=-1">C</sup>
                </td>
                <td matTooltip="Call Open interest" style="color: aliceblue; font-size: 0.5em; border: none; padding: -1px;">{{y[2]}}</td>
                <td matTooltip="Put Open interest" style="color: aliceblue; font-size: 0.5em; border: none; padding: -1px;">{{y[4]}}</td>
              </tr>
          </td>
        </tr>
      </table>
    </div>

    <div class="dividend">
      <table *ngIf="stocks">
        <tr class="mobile-view">
          <th colspan="10" style="text-align: center; font-size: 1em; ">Manage your dividend paying stock/etf positions</th>
        </tr>
        <tr >
          <th>Ticker</th>
          <th>Price</th>
          <th class="mobile-view" >Cost Basis</th>
          <th>pnl %</th>
          <th class="mobile-view" ># shares</th>
          <th class="mobile-view" >Div Yield</th>
          <th class="mobile-view" >Pay date</th>
          <th class="mobile-view" >Per share Amt</th>
          <th>Amount</th>
          <th></th>
        </tr>
        <tr *ngFor="let x of stocks">
          <td *ngIf="x.account.indexOf('fidelity')!=-1" style="color:orange; ">{{x.ticker | uppercase}}</td>
          <td *ngIf="x.account.indexOf('robinhood')!=-1" style="color:rosybrown; ">{{x.ticker | uppercase}}</td>
          <td *ngIf="x.account.indexOf('tastyworks')!=-1" style="color:rgb(243, 138, 126); ">{{x.ticker | uppercase}}</td>
          <td style="color: white;  padding: 5px;"><i>{{x.current}}</i></td>
          <td class="mobile-view" *ngIf="x.account.indexOf('fidelity')!=-1" style="color:orange; ">{{x.price}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('robinhood')!=-1" style="color:rosybrown; ">{{x.price}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('tastyworks')!=-1" style="color:rgb(243, 138, 126); ">{{x.price}}</td>
          <td *ngIf="x.pnl.indexOf('-')!=-1" style="color:red; ">{{x.pnl}}%</td>
          <td *ngIf="x.pnl.indexOf('-')==-1" style="color:green; ">{{x.pnl}}%</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('fidelity')!=-1" style="color:orange; ">{{x.shares}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('robinhood')!=-1" style="color:rosybrown; ">{{x.shares}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('tastyworks')!=-1" style="color:rgb(243, 138, 126); ">{{x.shares}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('fidelity')!=-1" style="color:orange; ">{{x.div}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('robinhood')!=-1" style="color:rosybrown; ">{{x.div}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('tastyworks')!=-1" style="color:rgb(243, 138, 126); ">{{x.div}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('fidelity')!=-1" style="color:orange; ">{{x.date}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('robinhood')!=-1" style="color:rosybrown; ">{{x.date}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('tastyworks')!=-1" style="color:rgb(243, 138, 126); ">{{x.date}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('fidelity')!=-1" style="color:orange; ">{{x.pershare}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('robinhood')!=-1" style="color:rosybrown; ">{{x.pershare}}</td>
          <td class="mobile-view" *ngIf="x.account.indexOf('tastyworks')!=-1" style="color:rgb(243, 138, 126); ">{{x.pershare}}</td>
          <td style="color:aliceblue; ">${{x.total}}</td>
          <td style="width: 50px;"><span><mat-icon id="closetrade"
            matTooltip="Close position" (click)="delStock(x.ticker, x.account, x.shares)" class="material-icons">close</mat-icon></span></td>
        </tr>
        <tr>
          <td colspan="10" style="border: none; color: rgba(128, 128, 128, 0.397); text-align: center;">
            <button mat-button (click)="onClickAdd()">
              <b style="font-size: 10mm; color: white; " (click)="selectStrat('Long Stock')"  matTooltip="Open trade box"  *ngIf="addtext.indexOf('-')==-1">{{addtext}}</b>
             </button>
             Add new stock position</td></tr>
      </table>
      <table *ngIf="!stocks" style="min-width: 300px; min-height: 125px;">
        <tr>
          <td style="border: none;"></td>
        </tr>
        <tr>
          <td style="border: none; text-align: center;">
            <button mat-button (click)="onClickAdd()">
              <b style="font-size: 10mm; color: white; "  matTooltip="Open trade box"  *ngIf="addtext.indexOf('-')==-1">{{addtext}}</b>
             </button>

          </td>
        </tr>
        <tr>
          <td style="border: none; color: rgba(128, 128, 128, 0.397); text-align: center;"><b>Add new long stock position</b></td>
        </tr>
        <tr>
          <td style="border: none;"></td>
        </tr>
      </table>
    </div>
    <div class="inner" *ngFor="let x of arrBirds" >
    <table>
      <tr>
        <th style="text-align: center; font-size: 1em; border: none">Manage short positions - {{x.ticker | uppercase}}
          <span *ngIf="isTickerEmpty(x)">
            <mat-icon id="closetrade" (click)="onClickDelete(x)" matTooltip="Close ticker"  class="material-icons">close</mat-icon>
          </span>
        </th>
      </tr>
      <tr style="color:wheat; font-size: 3mm; border-bottom: dashed 2px wheat; ">
        <th style="text-align: center; border: none;">
          Total Collateral in {{x.ticker | uppercase}} - <span matTooltip="Collateral for {{x.ticker}}">{{x.total}}</span>

        </th>
      </tr>
      <tr *ngFor="let y of reverseIt(x.ordered.call)" style="border-right: dashed 2px wheat;">
        <td *ngIf="process(y)[0].indexOf('robinhood')!=-1 && processKey(y)!='0'" style="display:inline-block; color:rosybrown; font-size: 6mm; border: solid rosybrown 0px;">
          {{processKey(y)}} <sup matTooltip="%OTM, Expiry, Collateral">{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;">
            <!--<button mat-button (click)="onClickDeleteStrike(x, 'robinhood', 'call', processKey(y))"><b style="color:tomato;">x</b></button>-->
            <mat-icon id="closetrade" matTooltip="Close position"  (click)="onClickDeleteStrike(x, 'robinhood', 'call', processKey(y))" class="material-icons">close</mat-icon>
          </span>
          <span style="float: right;">
            <mat-icon id="rolltrade" (click)="rolltrade(x, y, 'call', processKey(y))" matTooltip="Roll position"  class="material-icons">redo</mat-icon>
          </span>
        </td>
        <td *ngIf="process(y)[0].indexOf('fidelity')!=-1 && processKey(y)!='0'" style="display:inline-block; color:orange; font-size: 6mm; border: solid orange 0px;">
          {{processKey(y)}} <sup matTooltip="%OTM, Expiry, Collateral">{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;">
            <!--<button mat-button (click)="onClickDeleteStrike(x, 'fidelity', 'call', processKey(y))"><b style="color:tomato;">x</b></button></span>-->
            <mat-icon id="closetrade" matTooltip="Close position"  (click)="onClickDeleteStrike(x, 'fidelity', 'call', processKey(y))" class="material-icons">close</mat-icon>
            </span>
          <span style="float: right;">
            <mat-icon id="rolltrade" (click)="rolltrade(x, y, 'call', processKey(y))" matTooltip="Roll position"  class="material-icons">redo</mat-icon>
          </span>

          <td *ngIf="process(y)[0].indexOf('tastyworks')!=-1 && processKey(y)!='0'" style="display:inline-block; color:rgb(243, 138, 126); font-size: 6mm; border: solid salmon 0px;">
          {{processKey(y)}} <sup matTooltip="%OTM, Expiry, Collateral">{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;">
            <mat-icon id="closetrade" matTooltip="Close position"  (click)="onClickDeleteStrike(x, 'tastyworks', 'call', processKey(y))" class="material-icons">close</mat-icon>
            <!--<button style="padding: -4px !important;" mat-button (click)="onClickDeleteStrike(x, 'tastyworks', 'call', processKey(y))" style="padding: 0px !important;"><b style="color:tomato;">x</b></button>-->
            </span>
          <span style="float: right;">
            <mat-icon id="rolltrade" (click)="rolltrade(x, y, 'call', processKey(y))" matTooltip="Roll position"  class="material-icons">redo</mat-icon>
          </span>
      </tr>
      <tr style="color: white; font-size: 8mm; border: dashed wheat 2px; padding: 5px;"><i matTooltip="Current price for {{x.ticker}}">{{x.price}}</i></tr>
      <tr *ngFor="let y of reverseIt(x.ordered.put)" style="border-right: dashed 2px wheat;">
        <td *ngIf="process(y)[0].indexOf('robinhood')!=-1 && processKey(y)!='0'" style="display:inline-block; color:rosybrown; font-size: 6mm; border: solid rosybrown 0px;">
          {{processKey(y)}} <sup matTooltip="%OTM, Expiry, Collateral">{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;">
            <mat-icon id="closetrade" matTooltip="Close position"  (click)="onClickDeleteStrike(x, 'robinhood', 'put', processKey(y))" class="material-icons">close</mat-icon>
            <!--<button style="padding: -4px !important;" mat-button (click)="onClickDeleteStrike(x, 'robinhood', 'put', processKey(y))" style="padding: 0px !important;"><b style="color:tomato;">x</b></button>-->
          </span>
          <span style="float: right;">
              <mat-icon id="rolltrade" (click)="rolltrade(x, y, 'put', processKey(y))" matTooltip="Roll position"  class="material-icons">redo</mat-icon>
          </span>
        <td *ngIf="process(y)[0].indexOf('fidelity')!=-1 && processKey(y)!='0'" style="display:inline-block; color:orange; font-size: 6mm; border: solid orange 0px;">
          {{processKey(y)}} <sup matTooltip="%OTM, Expiry, Collateral">{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;">
            <mat-icon id="closetrade" matTooltip="Close position"  (click)="onClickDeleteStrike(x, 'fidelity', 'put', processKey(y))" class="material-icons">close</mat-icon>
            <!--<button style="padding: -4px !important;" mat-button (click)="onClickDeleteStrike(x, 'fidelity', 'put', processKey(y))" style="padding: 0px !important;"><b style="color:tomato;">x</b></button>-->
          </span>
          <span style="float: right;">
              <mat-icon id="rolltrade" (click)="rolltrade(x, y, 'put', processKey(y))" matTooltip="Roll position"  class="material-icons">redo</mat-icon>
          </span>
        <td *ngIf="process(y)[0].indexOf('tastyworks')!=-1 && processKey(y)!='0'" style="display:inline-block; color:rgb(243, 138, 126); font-size: 6mm; border: solid salmon 0px;">
          {{processKey(y)}} <sup matTooltip="%OTM, Expiry, Collateral">{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;">
            <mat-icon id="closetrade" matTooltip="Close position"  (click)="onClickDeleteStrike(x, 'tastyworks', 'put', processKey(y))" class="material-icons">close</mat-icon>
            <!--<button style="padding: -4px !important;" mat-button (click)="onClickDeleteStrike(x, 'tastyworks', 'put', processKey(y))" style="padding: 0px !important;"><b style="color:tomato;">x</b></button>-->
          </span>
          <span style="float: right;">
              <mat-icon id="rolltrade" (click)="rolltrade(x, y, 'put', processKey(y))" matTooltip="Roll position"  class="material-icons">redo</mat-icon>
          </span>
      </tr>
    </table>

 </div>
 <div class="inner" >
  <table>
    <tr>
      <td style="border: none;"></td>
    </tr>
    <tr>
      <td style="border: none; text-align: center;">
        <button mat-button (click)="onClickAdd()">
          <b style="font-size: 10mm; color: white; "  matTooltip="Open trade box"  *ngIf="addtext.indexOf('-')==-1">{{addtext}}</b>
         </button>

      </td>
    </tr>
    <tr>
      <td style="border: none; color: rgba(128, 128, 128, 0.397); text-align: center;"><b>Add new short position</b></td>
    </tr>
    <tr>
      <td style="border: none;"></td>
    </tr>
  </table>
</div>
</div>

</ng-template>
</div>

