<div *ngIf="loading else loaded" style="text-align: center;">
  <div class="loadingio-spinner-spinner-w7gjtov5wck"><div class="ldio-tbsvbued4f">
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div></div>
</div>
<div style="float: right; position:fixed; margin-right: 10px; right: 0; top: 2%; z-index: 10;">
  <br>
  <table>
    <tr><button mat-button><img (click)="onClickRefresh()" style="width: 25px; height: 25px;" src="/assets/refresh.png"></button></tr>
     <tr><button mat-button (click)="onClickAdd()">
       <b style="font-size: 10mm; color: white; " *ngIf="addtext.indexOf('-')==-1">{{addtext}}</b>
       <b style="font-size: 10mm; color: black; " *ngIf="addtext.indexOf('+')==-1">{{addtext}}</b>
      </button>
      </tr>
  </table>

</div>
<div style="float: right; position:fixed; margin-right: 20px; right: 0; top: 15%; z-index: -1;">
  <table>
  <tr>&nbsp;</tr>
  <tr style="color: orange; text-align: center; z-index: -1;">{{account_1}}</tr>
  <tr style="color: rosybrown; text-align: center; z-index: -1;">{{account_2}}</tr>
  <tr style="color: rgb(243, 138, 126); text-align: center; z-index: -1;">{{account_3}}</tr>

</table>
</div>

<div *ngIf="add" style="float:right; background-color:wheat; padding: 5px; margin-top: 20px; margin-right: 10px; position:fixed; right: 0; top: 6.5%; z-index: 9;">
  <br>
  <table class="add">
    <tr><td>Account:</td> <td><select class="inputs" (change)="selectOption($event.target.value)">
      <option value="">&nbsp;</option>
      <option value="{{account_1}}">{{account_1}}</option>
      <option value="{{account_2}}">{{account_2}}</option>
      <option value="{{account_3}}">{{account_3}}</option>
    </select></td></tr>
    <tr><td>Strategy:</td> <td><select class="inputs" (change)="selectStrat($event.target.value)">
      <option value="">&nbsp;</option>
      <option value="Covered Call">Covered Call</option>
      <option value="Iron Condor">Iron Condor</option>
      <option value="Iron Butterfly">Iron Butterfly</option>
      <option value="Credit Put Spread">Credit Put Spread</option>
      <option value="Credit Call Spread">Credit Call Spread</option>
    </select></td></tr>
    <!--<tr><td>Account2:</td> <td><input matInput type="text" id="account"></td></tr>-->
    <tr><td>Ticker: </td> <td><input class="inputs" matInput type="text" id="ticker"></td></tr>
    <tr><td>Contracts: </td> <td><input class="inputs" matInput type="number" id="contracts"></td></tr>
    <tr><td>Collateral: </td> <td>
      <span *ngIf="!covered"><input class="inputs" matInput type="number" id="collateral"></span>
      <span *ngIf="covered"><input class="inputs" matInput type="number" id="collateral" value="0" disabled></span>
    </td></tr>
    <tr><td>Expiration: </td> <td><input class="inputs" matInput type="date" id="exp" name="trip-start" (change)="changeDueDate()" value="{{cur_date}}" min="2020-01-01" max="2023-01-01"></td></tr>
    <tr><td>Call side: </td> <td>
      <span *ngIf="!putspread"><input class="inputs" matInput type="number" id="call"></span>
      <span *ngIf="putspread"><input class="inputs" value="0" matInput type="number" id="call" disabled></span>
    </td></tr>
    <tr><td>Put side: </td> <td>
      <span *ngIf="!covered && !callspread"><input class="inputs" matInput type="number" id="put"></span>
      <span *ngIf="covered || callspread"><input class="inputs" matInput type="number" id="put" value="0" disabled></span>
    </td></tr>
    <tr><td>Premium: </td> <td><input class="inputs" matInput type="number" id="premium"></td></tr>
    <tr><td></td><td><button mat-button (click)="onClickAddVals()" style="display: block; margin-left: auto; margin-right: auto; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></td></tr>
    <tr *ngIf="addedRes"><td colspan="2" style="color: red;">{{addedRes}}</td></tr>
</table>
</div>
<div class="container" >
  <div style="border: solid 0px wheat ; font-size: 1.4em; font-weight: bold; margin: 0 auto; padding: 3px; margin-top: 20px; margin-right: 10px; position: absolute; right: 30%; left: 30%; top: 2%; z-index: 9; width: 40%; color: wheat;">
    <table>
      <td style="border: 0px; " *ngFor="let x of processTopExpiration(dt)">
        <span *ngIf="x.indexOf('-')!=-1" style="text-decoration: underline;">{{x}}:</span>
        <span *ngIf="x.indexOf('-')==-1">{{x}}</span>
      </td>
    </table>
  </div>
  <ng-template #loaded>

  <div class="monitor">
    <table *ngFor="let x of arrBirds" >
      <tr style="color:aliceblue; font-size: 7.5mm;">{{x.ticker | uppercase}} - {{x.total}}
        <span><button mat-button (click)="onClickDelete(x)"><b style="color:tomato;">x</b></button></span>
      </tr>
      <hr>
      <tr *ngFor="let y of reverseIt(x.ordered.call)">
        <td *ngIf="process(y)[0].indexOf('robinhood')!=-1 && processKey(y)!='0'" style="display:inline-block; color:rosybrown; font-size: 6mm; border: solid rosybrown 0px;">
          {{processKey(y)}} <sup>{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;"><button mat-button (click)="onClickDeleteStrike(x, 'robinhood', 'call', processKey(y))"><b style="color:tomato;">x</b></button></span>
        </td>
        <td *ngIf="process(y)[0].indexOf('fidelity')!=-1 && processKey(y)!='0'" style="display:inline-block; color:orange; font-size: 6mm; border: solid orange 0px;">
          {{processKey(y)}} <sup>{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;"><button mat-button (click)="onClickDeleteStrike(x, 'fidelity', 'call', processKey(y))"><b style="color:tomato;">x</b></button></span>
        <td *ngIf="process(y)[0].indexOf('tastyworks')!=-1 && processKey(y)!='0'" style="display:inline-block; color:rgb(243, 138, 126); font-size: 6mm; border: solid salmon 0px;">
          {{processKey(y)}} <sup>{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;"><button mat-button (click)="onClickDeleteStrike(x, 'tastyworks', 'call', processKey(y))"><b style="color:tomato;">x</b></button></span>
      </tr>
      <tr style="color:red; font-size: 8mm; border: dashed wheat 2px; padding: 5px;">{{x.price}}</tr>
      <tr *ngFor="let y of reverseIt(x.ordered.put)">
        <td *ngIf="process(y)[0].indexOf('robinhood')!=-1 && processKey(y)!='0'" style="display:inline-block; color:rosybrown; font-size: 6mm; border: solid rosybrown 0px;">
          {{processKey(y)}} <sup>{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;"><button mat-button (click)="onClickDeleteStrike(x, 'robinhood', 'put', processKey(y))"><b style="color:tomato;">x</b></button></span>
        <td *ngIf="process(y)[0].indexOf('fidelity')!=-1 && processKey(y)!='0'" style="display:inline-block; color:orange; font-size: 6mm; border: solid orange 0px;">
          {{processKey(y)}} <sup>{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;"><button mat-button (click)="onClickDeleteStrike(x, 'fidelity', 'put', processKey(y))"><b style="color:tomato;">x</b></button></span>
        <td *ngIf="process(y)[0].indexOf('tastyworks')!=-1 && processKey(y)!='0'" style="display:inline-block; color:rgb(243, 138, 126); font-size: 6mm; border: solid salmon 0px;">
          {{processKey(y)}} <sup>{{process(y)[4]}}, {{process(y)[1]}}, {{process(y)[2]}}</sup>
          <span style="float: right;"><button mat-button (click)="onClickDeleteStrike(x, 'tastyworks', 'put', processKey(y))"><b style="color:tomato;">x</b></button></span>
      </tr>
    </table>


  </div>

</ng-template>
</div>

