<div *ngIf="loading else loaded" style="text-align: center;">
  <div class="loadingio-spinner-spinner-w7gjtov5wck"><div class="ldio-tbsvbued4f">
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div></div>
</div>
<ng-template #loaded>

  <div class="container">
    <div class="monitor">
      <div class="admin" *ngIf="roles.indexOf('admin')!=-1">
        <div class="search">
          <form class="input-group-form">
            <igx-input-group class="autocomplete">

              <label style="color: wheat;font-size: 4.5mm;" igxLabel for="town"
                >&nbsp;&nbsp;&nbsp;Search for properties&nbsp;&nbsp; (Start
                typing anything)</label>
              <input
                igxInput
                name="town"
                type="text"
                [igxAutocomplete]="townsPanel"
                [(ngModel)]="townSelected"
              />
              <a href="">Test</a>
            </igx-input-group>

            <igx-drop-down #townsPanel maxHeight="500px">
              <igx-drop-down-item
                *ngFor="let town of towns | contains: townSelected"
                [value]="town"
              >
                {{ town }}
              </igx-drop-down-item>
            </igx-drop-down>
          </form>
        </div>
        <button mat-button><img (click)="onClickRefresh()" style="width: 25px; height: 25px; display: inline-block;" src="/assets/refresh.png"></button>
      <br>
      <br>
      <table>
        <tr>
          <th>S No.</th>
          <th>Emergency</th>
          <th>Location in property</th>
          <th>Description</th>
          <th>Submitted by</th>
          <th>Address</th>
          <th>Submit date</th>
          <th>Status</th>
          <th>Changes Status</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let x of workorder_selected; let i = index">
          <td>{{i + 1}}</td>
          <td>{{ getEmergency(workorder_selected, i)}}</td>
          <td>{{ getLocation(workorder_selected, i)}}</td>
          <td>{{ getDescription(workorder_selected, i)}}</td>
          <td>{{ getSubmitBy(workorder_selected, i)}}</td>
          <td>{{ getAddress(workorder_selected, i) }}</td>
          <td>{{ getSubmitDate(workorder_selected, i)}}</td>
          <td *ngIf="getStatus(workorder_selected, i).indexOf('In progress')!=-1" style="background-color: red;">{{ getStatus(workorder_selected, i)}}</td>
          <td *ngIf="getStatus(workorder_selected, i).indexOf('Completed')!=-1" style="background-color: green;">{{ getStatus(workorder_selected, i)}}</td>
          <td *ngIf="getStatus(workorder_selected, i).indexOf('In progress')!=-1"><button mat-raised-button (click)="completed(getAddress(workorder_selected, i),  getSubmitDate(workorder_selected, i))" >Mark completed</button></td>
          <td *ngIf="getStatus(workorder_selected, i).indexOf('Completed')!=-1"><button mat-raised-button (click)="inprogress(getAddress(workorder_selected, i),  getSubmitDate(workorder_selected, i))" >Mark in progress</button></td>
          <td><button mat-raised-button (click)="delete(getAddress(workorder_selected, i), getSubmitDate(workorder_selected, i))" *ngIf="getStatus(workorder_selected, i).indexOf('In progress')!=-1">Delete</button></td>
        </tr>
      </table>
      <br>
      <br>

      </div>
      <div class="history" *ngIf="roles.indexOf('tenant')!=-1">
        <table>
          <tr>
            <td colspan="4"><u>According to your lease, any damage caused by below is not covered</u></td>
          </tr>
          <tr style="border: none;">
            <th style="border: none;">Pet policy:</th>
            <td style="border: none;">Not allowed</td>
            <th style="border: none;">Smoking policy:</th>
            <td style="border: none;">No smoking</td>
          </tr>

        </table>
        <br>
        <table>
          <tr>
            <th colspan="8" style="border: none;"><h6>Please submit a work order for your propery below:</h6><br></th>
          </tr>
          <tr>
            <th>S No.</th>
            <th>Emergency</th>
            <th>Location in property</th>
            <th>Description</th>
            <th>Submitted by</th>
            <th>Address</th>
            <th>Submit date</th>
            <th>Status</th>
          </tr>
          <tr style="background-color: wheat; color: black;">
            <td style="color: red;"><b>Add new</b></td>
            <td>
              <select (change)="selectOption($event.target.value)" id="selectEmergency">
                <option value="">&nbsp;</option>
                <option value="Emergency">Emergency</option>
                <option value="Not an Emergency">Not an Emergency</option>
              </select>
              <span *ngIf="required_msg" style="color: red; font-size: 0.7em;">REQUIRED</span>
            </td>
            <td><textarea type="text" id="location" placeholder="Location.."></textarea>
              <span *ngIf="required_location" style="color: red; font-size: 0.7em;">REQUIRED</span>
            </td>
            <td style="width: 25%;"><textarea type="text" id="description" placeholder="Describe the issue.."></textarea>
              <span *ngIf="required_desc" style="color: red; font-size: 0.7em;">REQUIRED</span>
            </td>
            <td style="color: black;"><b>{{username}}</b></td>
            <td style="color: black;"><b>{{address}}</b></td>
            <td style="color: black;"><b>{{date | date: 'dd-MM-yyyy HH:mm'}}</b></td>
            <td><button mat-raised-button (click)="workorderclick()" >Submit</button></td>

          </tr>
          <tr *ngIf="!workorder_bool">
            <td>0</td>
            <td colspan="6">No past work order yet for this property</td>
          </tr>
          <tr *ngFor="let x of workorder; let i = index">
            <td>{{i + 1}}</td>
            <td>{{ getEmergency(workorder, i)}}</td>
            <td>{{ getLocation(workorder, i)}}</td>
            <td>{{ getDescription(workorder, i)}}</td>
            <td>{{ getSubmitBy(workorder, i)}}</td>
            <td>{{ address }}</td>
            <td>{{ getSubmitDate(workorder, i)}}</td>
            <td *ngIf="getStatus(workorder, i).indexOf('In progress')!=-1" style="background-color: red;">{{ getStatus(workorder, i)}}</td>
            <td *ngIf="getStatus(workorder, i).indexOf('Completed')!=-1" style="background-color: green;">{{ getStatus(workorder, i)}}</td>
          </tr>
        </table>
        <br>
        <br>
      </div>
    </div>

  </div>
</ng-template>
