<div class="container">
  <div class="search">
    <form class="input-group-form">
      <igx-input-group class="autocomplete">

        <label style="color: wheat;font-size: 4.5mm;" igxLabel for="town"
          >&nbsp;&nbsp;&nbsp;Search other users&nbsp;&nbsp; (Start
          typing anything)</label>
        <input
          igxInput
          name="town"
          type="text"
          [igxAutocomplete]="townsPanel"
          [(ngModel)]="townSelected"
        />
        <a href="">Test</a>
      </igx-input-group>

      <igx-drop-down #townsPanel maxHeight="500px">
        <igx-drop-down-item
          *ngFor="let town of towns | contains: townSelected"
          [value]="town"
        >
          {{ town }}
        </igx-drop-down-item>
      </igx-drop-down>
    </form>
  </div>
  <button mat-button><img (click)="onClickRefresh()" style="width: 25px; height: 25px; display: inline-block;" src="/assets/refresh.png"></button>

  <app-left [nameSel]="townSelected" [refreshed]="refreshed"></app-left>
  <app-main [nameSel]="townSelected" [refreshed]="refreshed"></app-main>
</div>
