/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: rgb(65, 61, 61);
}


.container{
  width: 100%;
  margin-top: 25px;
  margin-bottom: -19px;
  min-height: 300px;
}

.example-form-field{
  align-items: center;
  margin-left: 5%;
}
.example-form-field button {
  align-self: right;
  margin-top: 8px;
  margin-bottom: 0px;
}
.charting{
  padding: 5px;
  margin-top: 0px;
  width: 48%;
  height: inherit;
  display: inline-block;
  min-width: 400px;
  float: left;
}


.barcharting{
  padding: 5px;
  margin-top: 0px;
  width: 48%;
  height: inherit;
  display: inline-block;
  min-width: 400px;
}

button{
  align-self: center;
}
#quoteInput
{
  -moz-border-radius: 5px;
 border-radius: 5px;
    border:solid 1px black;
    padding:5px;
}

.mat-elevation-z8 {
  padding: 5px;
  width: 99.5%;
  margin-left: 0.25%;
}

.mat-elevation-z8, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  color: wheat;
}

.mat-elevation-z8 tr:nth-child(odd) {
  background-color: #2e2c2c;
}

.mat-elevation-z8 tr:nth-child(even) {
  background-color: #645c5c;
}

.docpan {
  width: 80%;
  border: solid black 0px;
  margin-left: 20%;
  border-top: wheat solid 0px;
  border-left: wheat dashed 0px;
}

.docpan p {
  color: aliceblue;
  text-align: justify;
  text-justify: inter-word;
  padding: 2%;
}

.docpan h5 {
  color: aliceblue;
  text-align: justify;
  text-justify: inter-word;
  padding: 1%;
  border-bottom: solid black 2px;
}
