<div class="container">
<br>

<div class="example-form-field">
    <button mat-raised-button style="align-self: right;" (click)="changeType('Stocks')">
        Stocks
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button style="align-self: right;" (click)="changeType('Etfs')">
          ETFs
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button style="align-self: right;" (click)="changeType('Index')">
          Index
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button style="align-self: right;" (click)="changeType('Mutual')">
          Mutual Funds
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button style="align-self: right;" (click)="changeType('Futures')">
          Futures
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button style="align-self: right;" (click)="changeType('Currency')">
          Currency
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button style="align-self: right;" (click)="changeType('Options')">
          Options
      </button>
</div>

<div class="example-form-field" style="padding: 1%;" *ngIf="stocks">
  <span style="color: wheat; "><em>Stocks:</em></span>
  &nbsp;&nbsp;&nbsp;
    <input matInput type="text" id="quoteInput">
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickQuote()" style="align-self: right;">
      Quote
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickFinancial()" style="align-self: right;">
      FinData
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickCashFlow()" style="align-self: right;">
      CashFlow
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickBalSheet()" style="align-self: right;">
      BalSheet
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickGrowth()" style="align-self: right;">
        Growth
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickProfit()" style="align-self: right;">
        Profit
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickRatio()" style="align-self: right;">
        Ratio
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickCash()" style="align-self: right;">
        Cash
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickHistory()" style="align-self: right;">
      History
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="setTicker()" style="align-self: right;">
      Full Research
    </button>
  </div>
  <div class="example-form-field" style="padding: 1%;" *ngIf="etfs">
      <span style="color: wheat;"><em>ETFs:</em></span>
      &nbsp;&nbsp;&nbsp;
      <input matInput type="text" id="quoteInput">
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickQuote()" style="align-self: right;">
        Quote
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickPerformance()" style="align-self: right;">
        Performance
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHoldings()" style="align-self: right;">
        Holdings
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickRisk()" style="align-self: right;">
        Risk
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHistory()" style="align-self: right;">
        History
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="setTicker()" style="align-self: right;">
        Full Research
      </button>

    </div>

  <div class="example-form-field" style="padding: 1%;" *ngIf="index">
      <span style="color: wheat;"><em>Indices (e.g. ^DJI):</em></span>
    &nbsp;&nbsp;&nbsp;
    <input matInput type="text" id="quoteInput">
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickQuote()" style="align-self: right;">
        Quote
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHistory()" style="align-self: right;">
          History
        </button>
  </div>
  <div class="example-form-field" style="padding: 1%;" *ngIf="mutual">
      <span style="color: wheat;"><em>Mutual Funds:</em></span>
      &nbsp;&nbsp;&nbsp;
      <input matInput type="text" id="quoteInput">
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickQuote()" style="align-self: right;">
        Quote
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickPerformance()" style="align-self: right;">
        Performance
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHoldings()" style="align-self: right;">
        Holdings
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickRisk()" style="align-self: right;">
        Risk
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHistory()" style="align-self: right;">
        History
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="setTicker()" style="align-self: right;">
        Full Research
      </button>
  </div>
  <div class="example-form-field" style="padding: 1%;" *ngIf="futures">
      <span style="color: wheat;"><em>Futures (e.g. EM=X):</em></span>
      &nbsp;&nbsp;&nbsp;
      <input matInput type="text" id="quoteInput">
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickQuote()" style="align-self: right;">
        Quote
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHistory()" style="align-self: right;">
        History
      </button>
  </div>
  <div class="example-form-field" style="padding: 1%;" *ngIf="currency">
      <span style="color: wheat;"><em>Currency (e.g. USDEUR=X):</em></span>
      &nbsp;&nbsp;&nbsp;
      <input matInput type="text" id="quoteInput">
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickQuote()" style="align-self: right;">
        Quote
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHistory()" style="align-self: right;">
        History
      </button>
  </div>

  <div class="example-form-field" style="padding: 1%;" *ngIf="options">
    <span style="color: wheat;"><em>Option:</em></span>
    &nbsp;&nbsp;&nbsp;
    <input matInput type="text" id="quoteInput">
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickQuote()" style="align-self: right;">
      Quote
    </button>
    &nbsp;&nbsp;&nbsp;
    <!--<button mat-raised-button (click)="clickHistory()" style="align-self: right;">
      Chain
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="setTicker()" style="align-self: right;">
      Full Research
    </button>-->
</div>

  <p style="padding: 10px;color: wheat;">This utility gives you useful data for various securities, enter them above. Documentation Links -
    <a style="color: white;" href="https://github.com/shantanusood/UserInterface/blob/master/README.md" target="_blank">This UI</a>
    - <a style="color: white;" href="https://github.com/shantanusood/YahooFinDataAnalytics/blob/master/README.md" target="_blank">Backend Data</a></p>


    <a *ngIf="ticker" routerLink="/{{type}}/{{ticker}}" mat-button style="margin-left:15%;width:70%;text-align:center;text-decoration: underline;">Get Complete Research Document for {{ticker}}</a>
<br/>
  <table class="mat-elevation-z8">

    <tr *ngFor="let items of response| keyvalue: originalOrder">
        <td>{{ items.key }}</td> <td *ngFor="let item of items.value| keyvalue: originalOrder" >
            <tr>{{ item.value }}</tr></td>
    </tr>
  </table>
  <div *ngIf="chart" class="charting">
    <p style="width:100%;text-align:center;color: wheat;">{{chart_title}}<p>
    <canvas id="canvas">{{ chart }}</canvas>
  </div>
  <div *ngIf="barchart" class="barcharting">
    <p style="width:100%;text-align:center;color: wheat;">{{barchart_title}}<p>
    <canvas id="canvas2">{{ barchart }}</canvas>
  </div>
</div>

