<div class="container">
<br>

<div class="example-form-field" style="padding: 1%;">
    <input matInput type="text" id="quoteInput">
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickQuote()" style="align-self: right;">
      Get Quotes
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickFinancial()" style="align-self: right;">
      Get FinData
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickCashFlow()" style="align-self: right;">
      Get CashFlow
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickBalSheet()" style="align-self: right;">
      Get BalSheet
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickGrowth()" style="align-self: right;">
        Plot Growth
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickProfit()" style="align-self: right;">
        Plot Profit
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickRatio()" style="align-self: right;">
        Plot Ratio
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickCash()" style="align-self: right;">
        Plot Cash
    </button>
  </div>
  <p style="padding: 10px;">This utility gives you useful data for various securities, enter them above. Documentation Links - <a href="https://github.com/shantanusood/UserInterface/blob/master/README.md" target="_blank">This UI</a> - <a href="https://github.com/shantanusood/YahooFinDataAnalytics/blob/master/README.md" target="_blank">Backend Data</a></p>
<hr>
<table style="width: 200px; padding: 5px; margin: 10px;">
  <tr>
    <th>Index</th>
    <th>Meaning</th>
  </tr>
    <td>
      <tr>0</tr>
      <tr>1</tr>
      <tr>2</tr>
      <tr>3</tr>
    </td>
    <td>
        <tr>Current Year</tr>
        <tr>Year minus 1</tr>
        <tr>Year minus 2</tr>
        <tr>Year minus 3</tr>
      </td>
  </table>
  <hr>
  <table class="mat-elevation-z8">

    <tr *ngFor="let items of response| keyvalue">
          <td>{{ items.key }}</td> <td *ngFor="let item of items.value| keyvalue"><tr>{{ item.key }}</tr><tr>{{ item.value }}</tr></td>
    </tr>
  </table>
</div>


