<div class="container">

<div class="example-form-field">
    <button mat-raised-button  (click)="changeType('Stocks')">
        Stocks
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button  (click)="changeType('Etfs')">
          ETFs
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button  (click)="changeType('Index')">
          Index
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button  (click)="changeType('Mutual')">
          Mutual Funds
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button  (click)="changeType('Futures')">
          Futures
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button (click)="changeType('Currency')">
          Currency
      </button>
      &nbsp;&nbsp;
      <button mat-raised-button (click)="changeType('Options')">
          Options
      </button>
</div>

<div class="example-form-field" style="padding: 1%;" *ngIf="stocks">
  <span style="color: wheat; "><em>Stocks:</em></span>
  &nbsp;&nbsp;&nbsp;
    <input matInput type="text" id="quoteInput">
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickQuote()" >
      Quote
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickFinancial()" >
      FinData
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickCashFlow()" >
      CashFlow
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickBalSheet()" >
      BalSheet
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickGrowth()" >
        Growth
    </button>
    &nbsp;&nbsp;&nbsp;
    <!--<button mat-raised-button (click)="clickProfit()" >
        Profit
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickRatio()" >
        Ratio
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickCash()" >
        Cash
    </button>-->
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickHistory()" >
      History
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="setTicker()" >
      Full Research
    </button>
  </div>
  <div class="example-form-field" style="padding: 1%;" *ngIf="etfs">
      <span style="color: wheat;"><em>ETFs:</em></span>
      &nbsp;&nbsp;&nbsp;
      <input matInput type="text" id="quoteInput">
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickQuote()" >
        Quote
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickPerformance()" >
        Performance
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHoldings()" >
        Holdings
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickRisk()" >
        Risk
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHistory()" >
        History
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="setTicker()" >
        Full Research
      </button>

    </div>

  <div class="example-form-field" style="padding: 1%;" *ngIf="index">
      <span style="color: wheat;"><em>Indices (e.g. ^DJI):</em></span>
    &nbsp;&nbsp;&nbsp;
    <input matInput type="text" id="quoteInput">
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickQuote()" >
        Quote
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHistory()" >
          History
        </button>
  </div>
  <div class="example-form-field" style="padding: 1%;" *ngIf="mutual">
      <span style="color: wheat;"><em>Mutual Funds:</em></span>
      &nbsp;&nbsp;&nbsp;
      <input matInput type="text" id="quoteInput">
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickQuote()" >
        Quote
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickPerformance()" >
        Performance
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHoldings()" >
        Holdings
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickRisk()" >
        Risk
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHistory()" >
        History
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="setTicker()" >
        Full Research
      </button>
  </div>
  <div class="example-form-field" style="padding: 1%;" *ngIf="futures">
      <span style="color: wheat;"><em>Futures (e.g. EM=X):</em></span>
      &nbsp;&nbsp;&nbsp;
      <input matInput type="text" id="quoteInput">
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickQuote()" >
        Quote
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHistory()" >
        History
      </button>
  </div>
  <div class="example-form-field" style="padding: 1%;" *ngIf="currency">
      <span style="color: wheat;"><em>Currency (e.g. USDEUR=X):</em></span>
      &nbsp;&nbsp;&nbsp;
      <input matInput type="text" id="quoteInput">
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickQuote()" >
        Quote
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button (click)="clickHistory()" >
        History
      </button>
  </div>

  <div class="example-form-field" style="padding: 1%;" *ngIf="options">
    <span style="color: wheat;"><em>Option:</em></span>
    &nbsp;&nbsp;&nbsp;
    <input matInput type="text" id="quoteInput">
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="clickQuote()" >
      Quote
    </button>
    &nbsp;&nbsp;&nbsp;
    <!--<button mat-raised-button (click)="clickHistory()" >
      Chain
    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="setTicker()" >
      Full Research
    </button>-->
</div>

    <a *ngIf="ticker" routerLink="/{{type}}/{{ticker}}" mat-button class="completeRes">Get Complete Research Document for {{ticker | uppercase}}</a>

    <div *ngIf="tableloading else loaded" style="text-align: center;">
      <div class="loadingio-spinner-spinner-w7gjtov5wck"><div class="ldio-tbsvbued4f">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div></div>
    </div>

    <ng-template #loaded>
    <table class="mat-elevation-z8">

    <tr *ngFor="let items of response| keyvalue: originalOrder">
        <td>{{ items.key }}</td> <td *ngFor="let item of items.value| keyvalue: originalOrder" >
            <tr>{{ item.value }}</tr></td>
    </tr>
  </table>
</ng-template>

  <div *ngIf="chart" class="charting">
    <p style="width:100%;text-align:center;color: wheat;">{{chart_title}}<p>
    <canvas id="canvas">
      {{ chart }}
  </canvas>
  </div>

  <div *ngIf="barchart" class="barcharting">
    <p style="width:100%;text-align:center;color: wheat;">{{barchart_title}}<p>
    <canvas id="canvas2">
      {{ barchart }}
    </canvas>
  </div>
</div>
